# SAP SDK & Credentials
config.json
nwrfcsdk/
pyrfc-env/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
ENV/

# Output Data
backend/screenshots/
backend/reports/
strust_*.html
okcode_dump.html

# Node
node_modules/
.npm/

# OS Files
.DS_Store
Thumbs.db

# Ignore logs and local DB
*.log
*.db
backend/batch_reports/
backend/reports_test/

